.form-control {
    display: flex;
    gap: 0.65rem;
    flex-direction: column;
}

.add-todo, .btn{
    padding: 1rem;
    border: none;
}

.add-todo {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn {
    border-radius: 5px;
    display: inline-block;
    background: rgb(218, 184, 15);
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
}