@import '../../styles/global.css';

.form-control {
    display: flex;
    gap: 0.65rem;
    flex-direction: column;
}

.add-todo, .btn{
    padding: 1rem;
    border: none;
}

.add-todo {
    letter-spacing: 0.5px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn {
    border-radius: 5px;
    display: inline-block;
    background: var(--secondary-color);
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
}