.item {
    position: relative;
    background: rgba(11, 11, 11, 0.182);
    padding: 1rem;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper span {
    font-size: 1rem;
    font-weight: 700;
}

.item section {
    display: flex;
    align-items: center;
}

.trash-icon, .edit-icon {
    cursor: pointer;
    margin-left: 0.2em;
}

.completed {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: rgb(220, 211, 211);
}