body {
    background: url('../assets/image.jpg') no-repeat 0% 100% / cover;
}

.App {
    min-height: 100vh;
    color: #fff;
}

.container {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: minmax(auto, 30rem);
    grid-template-rows: auto 55vh 1fr;
    justify-content: center;
}

header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

main {
    background: rgba(0, 0, 0, 0.309);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
