.App {
    background-color: #282c34;
    min-height: 100vh;
    color: #fff;
}

.container {
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    display: grid;
    gap: 0rem;
    grid-template-columns: minmax(auto, 30rem);
    grid-template-rows: auto 55vh 1fr;
    justify-content: center;
}

header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem
}

main {
    background: rgb(150, 90, 90);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
